@use "sass:meta";
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--palette-background-default);

  // Components
  @include meta.load-css("components/navigation");
  @include meta.load-css("components/notification");
  @include meta.load-css("components/itemlist");

  // Pages
  @include meta.load-css("pages/login");
  @include meta.load-css("pages/team-details");
  @include meta.load-css("pages/accept-invite");
  @include meta.load-css("pages/invite-error");
  @include meta.load-css("pages/not-found");
  @include meta.load-css("pages/complete-invite");
  @include meta.load-css("pages/select-team");
  @include meta.load-css("pages/profile");
  @include meta.load-css("pages/teams");

  .app {
    &.app-container {
      display: flex;
      flex-direction: row;
    }

    &.app-main {

    }
  }
}