.login {
  &.login-paper {
    display: flex;
    width: 30rem;
    padding: 2rem;
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
  }

  &.login-header {
    display: flex;
    margin-bottom: 2rem;
  }

  &.login-logo {
    &.login-logo-wrapper {
      display: inline-block;
      width: 15rem;
      height: 4.5rem;
      margin-right: 1rem;
      padding: 1rem;
      margin-top: -5rem;
      margin-bottom: 1rem;
      background-color: #222;
      border-radius: 25px;
    }

    &.login-logo-img {
      width: 100%;
      height: 100%;
    }
  }

  &.login-form {
    &.login-form-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &.login-form-input {
      margin-bottom: 1rem;
      width: 25rem;
    }

    &.login-form-button {
      width: 25rem;
      margin-top: 1rem;
    }

    &.login-form-reset {
      margin-top: 1rem;
      color: #1a73e8;
      cursor: pointer;
    }
  }
}